/* background images */
.bg_wrapper {
  overflow: hidden;
}

#bg,
#tiny_bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#bg {
  background-image: url('/assets/bg.jpg');
  z-index: -5;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#tiny_bg {
  background-image: url('/assets/tiny_bg.jpg');
  filter: blur(3vw);

  transform: scale(1.15);
  overflow: hidden;
  z-index: -1;
  opacity: 1;

  will-change: transform, opacity;
}

#tiny_bg.faded {
  transform: scale(1);
  animation: loaded .5s cubic-bezier(.48, .29, .76, .68);
  opacity: 0;
}

#tiny_bg.behind {
  z-index: -20;
  opacity: 0.6;
  transform: scale(1);
  bottom: 1em;
}

/* when the screen is more horizontal than vertical,
   change to a centered background */
@media (max-aspect-ratio: 13/12) {

  #bg,
  #tiny_bg {
    background-position: 100% 100%;
    background-size: contain;
  }

  #bg {
    background-image: url('/assets/centered_bg.jpg');
  }

  #tiny_bg {
    background-image: url('/assets/tiny_centered_bg.jpg');
  }

  #tiny_bg.faded {
    transform: scale(1);
  }
}

@media only screen and (max-width: 380px) {

  /* use this to guess if it's mobile */
  #bg {
    bottom: 5em;
  }

  #bg.bumped {
    bottom: 10.25em;
  }

  #tiny_bg {
    bottom: 7em;
  }

  #tiny_bg.behind {
    bottom: 6em;
  }

  #proj-arrow {
    bottom: 0;
  }

  #proj-arrow.bumped {
    bottom: 5.25em;
  }
}

/* idea for fade in taken from https://malone.io */
/* used for .main on load */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-5em);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* used for vcard */
@keyframes fadeinright {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(5em);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes fadeoutright {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateX(0em);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateX(5em);
  }
}

/* used for progressive background image loading */
@keyframes loaded {
  from {
    opacity: 1;
    transform: scale(1.15);
  }

  to {
    opacity: 0;
    transform: scale(1);
  }
}
