:root {
  --color1: #FAF0E6;
  --color2: #DBD3CA;
  --color3: #807A75;
  --color4: #4D4946;
  --color5: #292726;

  /* to calculate, put the above hex into https://codepen.io/sosuke/pen/Pjoqqp */
  --color1-filter: invert(98%) sepia(31%) saturate(480%) hue-rotate(301deg) brightness(101%) contrast(96%);
  --color2-filter: invert(92%) sepia(25%) saturate(102%) hue-rotate(340deg) brightness(90%) contrast(90%);
  --color3-filer: invert(55%) sepia(2%) saturate(1547%) hue-rotate(345deg) brightness(86%) contrast(74%);
  --color4-filter: invert(26%) sepia(18%) saturate(167%) hue-rotate(344deg) brightness(94%) contrast(85%);
  --color5-filter: invert(11%) sepia(34%) saturate(76%) hue-rotate(335deg) brightness(98%) contrast(89%);

  --main-color--hover: #000;
  --main-color-filter--hover: invert(0%) sepia(2%) saturate(9%) hue-rotate(27deg) brightness(90%) contrast(102%);

  --background-color: var(--color1);
  --main-color: var(--color5);
  --light-color: var(--color4);

  --background-color-filter: var(--color1-filter);
  --main-color-filter: var(--color5-filter);
  --light-color-filter: var(--color4-filter);

  /** animation timing **/
  --flyin-timing: cubic-bezier(0, 1, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color--hover: #fff;
    --main-color-filter--hover: invert(100%) sepia(1%) saturate(77%) hue-rotate(254deg) brightness(116%) contrast(101%);

    --color1: #F0E6FA;
    /* --color2: #D3CADB; */
    --color1-filter: invert(88%) sepia(22%) saturate(271%) hue-rotate(212deg) brightness(102%) contrast(96%);
    /* --color2-filter: invert(96%) sepia(6%) saturate(1733%) hue-rotate(194deg) brightness(87%) contrast(98%); */

    --background-color: var(--color5);
    --main-color: var(--color1);
    --light-color: var(--color1);

    --background-color-filter: var(--color5-filter);
    --main-color-filter: var(--color1-filter);
    --light-color-filter: var(--color1-filter);
  }
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  color: var(--main-color);
  font-family: 'Lato', 'Ubuntu', system-ui, sans-serif;
  font-weight: 300;
  font-size: 120%;
  line-height: 1.6em;

  max-width: 50em;
  margin: auto;
  padding: 5vh 5vw;
  height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  color: var(--main-color);
}

.hidden {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;

  font-size: 2em;
  background-color: var(--background-color);
  width: 100%;
  margin-top: 3.75vh;
  padding: 0 3.75vw 0.5em 3.75vw;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  padding-top: .5em;
  height: 90vh;

  overflow-x: scroll;
  overflow-y: hidden;

  scroll-behavior: smooth;
}

.scrollable {
  overflow: auto;
}

.scrollable:after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(var(--background-color) 0%, transparent 5%, transparent 90%, var(--background-color) 100%);
  width: 100%;
  height: 100%;
}

.section-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-header {
  transition: text-decoration .1s ease-out, color .1s ease-out;
}

.section-header:hover,
.section-header.active {
  text-decoration: underline;
  color: var(--main-color);
}

.section {
  min-width: 10em;
  max-width: 20em;

  overflow-x: hidden;
  overflow-y: scroll;
}

.section>*:last-child {
  margin-bottom: 5vh;
}

.section {
  padding: 0 3.75vw;
}

#about>p {
  margin-top: 0.5em;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.social-link {
  color: var(--light-color);
  cursor: pointer;
  text-decoration: none;
  border-top: 1px solid var(--main-color);
  padding: 1px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: color .25s;
}

.social-link:first-child {
  border: none;
}

.social-icon {
  margin: 5px;
  filter: var(--light-color-filter);
}

.social-text {
  margin: 10px;
  transition: color 1s ease-out;
}

.social-link .social-name {
  opacity: 0;
  transition: opacity .25s ease;
}

.social-link:hover {
  color: var(--main-color--hover);
  border-color: var(--main-color--hover);
}

.social-link:hover .social-icon {
  filter: var(--main-color-filter--hover);
}

.social-link:hover .social-text {
  text-decoration: underline;
  color: var(--main-color);
}

.social-link:hover .social-name {
  opacity: 1;
  color: var(--light-color)
}

/* idea for fade in taken from https://malone.io */
/* used for .main on load */
@keyframes flyinright {
  from {
    opacity: 0;
    transform: translateX(25em);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flyinleft {
  from {
    opacity: 0;
    transform: translateX(-25em);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  body {
    height: calc(83.5vh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  }

  .header {
    margin-top: 0;
  }

  #app {
    scroll-snap-type: x mandatory;
    height: calc(73.5vh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  }

  #app::after {
    width: 210%;
  }

  .section-header {
    color: var(--light-color);
    text-decoration: none;
  }

  .section {
    min-width: 85vw;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scroll-margin-left: -1.1125vw;
  }
}