---
import "../../../styles/trident/section-selector.css";
import TridentSectionLink from "./TridentSectionLink.astro";
import { sections } from "../../../data/tridentConfig.json";

const section = Astro.props.section as number;
const currentTitle = sections[section].title;
---

<div class="dropdown">
  <div class="dropbtn">{section}. {currentTitle}</div>
  <div class="dropdown-content">
    <TridentSectionLink section={0} />
    <TridentSectionLink section={1} />
    <TridentSectionLink section={2} />
    <TridentSectionLink section={3} />
    <TridentSectionLink section={4} />
    <TridentSectionLink section={5} />
    <TridentSectionLink section={6} />
    <TridentSectionLink section={7} />
    <TridentSectionLink section={8} />
    <TridentSectionLink section={9} />
  </div>
</div>

<script>
  // on load
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector(".dropbtn")!.addEventListener("click", function () {
      document.querySelector(".dropdown-content")!.classList.toggle("show");
    });
  });
</script>
