---
import InvalidSectionTranscript from "./transcripts/InvalidSectionTranscript.astro";
import Transcript0 from "./transcripts/Intro.astro";
// import Transcript1 from "./transcripts/Transcript1.astro";
import Tour from "./transcripts/Tour.astro";
import { sections } from "../../../data/tridentConfig.json";
import Transcript1 from "./transcripts/Foundation.astro";
import Transcript2 from "./transcripts/Transition.astro";
import Intro from "./transcripts/Intro.astro";
import Transcript3 from "./transcripts/Ownership.astro";
import Transcript4 from "./transcripts/Community.astro";
import Community from "./transcripts/Community.astro";
import Conclusion from "./transcripts/Conclusion.astro";
import Foundation from "./transcripts/Foundation.astro";
import Ownership from "./transcripts/Ownership.astro";
import Transition from "./transcripts/Transition.astro";
import Caroline from "./transcripts/Caroline.astro";
import Peter from "./transcripts/Peter.astro";

const section = Astro.props.section as number;

const audioSourceFile: string = sections[section]?.audioSource;
const scrollStartOffset = sections[section]?.scrollStartOffset;
const scrollTotalOffset = sections[section]?.scrollTotalOffset;
---

<meta name="section" content={`${section}`} />
<meta name="scrollStartOffset" content={scrollStartOffset} />
<meta name="scrollTotalOffset" content={scrollTotalOffset} />

<audio controls id="audio-player">
  <source id="audio-source" src={audioSourceFile} type="audio/mp3" />
</audio>
<h4 class="transcript-title">Transcript</h4>
<div id="transcript">
  {
    section == 0 ? (
      <Intro />
    ) : section == 1 ? (
      <Foundation />
    ) : section == 2 ? (
      <Transition />
    ) : section == 3 ? (
      <Ownership />
    ) : section == 4 ? (
      <Community />
    ) : section == 5 ? (
      <Conclusion />
    ) : section == 6 ? (
      <Peter />
    ) : section == 7 ? (
      <Caroline />
    ) : section == 8 ? (
      <Tour />
    ) : (
      <InvalidSectionTranscript />
    )
  }
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const scrollStartOffset = document.querySelector<HTMLMetaElement>(
      'meta[name="scrollStartOffset"]'
    )!.content as unknown as number;
    const scrollTotalOffset = document.querySelector<HTMLMetaElement>(
      'meta[name="scrollTotalOffset"]'
    )!.content as unknown as number;

    const audio = document.querySelector("audio")!;
    const transcriptDiv = document.querySelector("#transcript")!;

    const scrollHeight =
      transcriptDiv.scrollHeight - transcriptDiv.clientHeight;
    let interval: number;

    function updateScrollPosition() {
      const proportionPlayed =
        (audio.currentTime - scrollStartOffset) /
        (audio.duration - scrollTotalOffset);
      transcriptDiv.scrollTop = proportionPlayed * scrollHeight;
    }

    audio.addEventListener("play", function () {
      updateScrollPosition(); // Initialize scroll position

      interval = setInterval(updateScrollPosition, 300); // Update every 50ms for smoother scrolling
    });

    // Stop scrolling when audio is paused or ended
    audio.addEventListener("pause", function () {
      clearInterval(interval);
    });

    audio.addEventListener("ended", function () {
      clearInterval(interval);
    });

    audio.addEventListener("seeked", updateScrollPosition); // Update scroll when user seeks in audio
  });
</script>
