---
import "../../../styles/trident/nav-buttons.css";
import { sections } from "../../../data/tridentConfig.json";
const section = Astro.props.section as number;
const prevUrl = `/projects/trident/section/${section - 1}`;
const nextUrl = `/projects/trident/section/${section + 1}`;
---

<div class="prev-next-buttons">
  <a href={prevUrl} class={`nav-button prev ${section <= 0 && "hidden"}`}>
    <span>&larr;</span>
  </a>
  <a
    href={nextUrl}
    class={`nav-button next ${section >= sections.length - 1 && "hidden"}`}
  >
    <span>&rarr;</span>
  </a>
</div>
