<div class="footer-info">
  <p>
    The audio tour and website were produced by <a href="https://drewmca.dev"
      >Drew McArthur</a
    >, and are not affiliated with Trident. For more, visit
    <a href="https://www.tridentcafe.com" target="_blank">tridentcafe.com</a>
  </p>
</div>
