---
import App from '../components/App.astro';
import '../styles/main.css';
import '../styles/animation.css';
---
<html>
  <head>
    <title>drewmca.dev</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <App />
  </body>
</html>
