---
import Layout from "../layouts/Layout.astro";
import "../styles/projects.css";

import { projects } from "../data/projects.json";
---

<Layout title="projects | drewmca.dev">
  <div class="header"><a href="/">drewmca.dev</a>&nbsp;/ projects</div>
  <ul class="projects">
    {
      projects.map((p) => (
        <li>
          <a href={p.link}>
            <p>{p.title}</p>
            <p>{p.desc}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
