.prev-next-buttons {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    display: flex;
    width: 50px;
    height: 50px;
    color: #555;
    border: 1px solid #555;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 24px;
    justify-content: center;
}

.nav-button:hover {
    border-color: black;
    color: black;
}

.nav-button.hidden {
    visibility: hidden;
}

.nav-button span {
    display: inline-block;
    vertical-align: middle;
}

#autoplay-toggle {
    display: flex;
    color: #555;
    border: 1px solid #555;
    align-items: center;
    padding: 5px 15px;
}

#autoplay-toggle:hover,
#autoplay-toggle.active label {
    border-color: black;
    color: black;
}

.autoplay {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#autoplay {
    margin-right: 5px;
}