---
---

<div id="about" class="about section">
  <p>
    i'm a software engineer from new england and now living in boulder, co. i
    currently work with <a href="https://mathematica.org/about-mathematica">mathematica.org</a>,
    whose research informs public health policy.
  </p>
  <p>
    i'm also getting a master's degree in <a
      href="https://www.colorado.edu/cmci/academics/media-studies/ma-media-and-public-engagement"
      >media and public engagement</a
    > at cu boulder, where i focus on cooperatives, worker ownership, 
    governance, and enterprise design.
  </p>
  <p>
    i think everyone should be able to keep value they create, 
    and participate in decisions that affect them.
  </p>
</div>
