---

---

<section id="about" class="about">
  <h2>Hi, I'm Drew!</h2>
  <p>
    I'm a software engineer from New England, now living in Boulder, CO. I
    currently work with <a href="https://mathematica.org/about-mathematica"
      >Mathematica Policy Research</a
    >
    on their infrastructure and data platforms.
  </p>
  <p>
    I've also just finished a master's degree in <a
      href="https://www.colorado.edu/cmci/academics/media-studies/ma-media-and-public-engagement"
      >Media and Public Engagement</a
    > at CU Boulder, where I got to study cooperatives, worker ownership, governance,
    and enterprise design. My thesis, <a href="https://pmsky.social"
      >pmsky.social</a
    >, explores <a
      href="https://docs.pmsky.social/getting-started/why-peer-moderation"
      >participatory moderation</a
    > on social media.
  </p>
  <p>
    I've begun to publish some of my writing to <a
      href="https://leaflet.drewmca.net">leaflet</a
    >, and you can connect with me on a number of other platforms below.
  </p>
</section>
