---
---

<div id="about" class="about section">
  <p>
    I'm a software engineer from New England, now living in Boulder, CO.  I
    currently work with <a href="https://mathematica.org/about-mathematica">Mathematica Policy Research</a>
    on their infrastructure and data platforms.
  </p>
  <p>
    I'm also working towards a master's degree in <a
      href="https://www.colorado.edu/cmci/academics/media-studies/ma-media-and-public-engagement"
      >Media and Public Engagement</a
    > at CU Boulder, where I focus on cooperatives, worker ownership, 
    governance, and enterprise design.
  </p>
  <p>
    I'm passionate about systems that enable and encourage collaboration, transparency, equity, and autonomy.
  </p>
</div>
