<div id="about" class="about">
  <p>
    i'm a software engineer, originally from new england, now living in boulder,
    co. i currently work with <a href="https://mathematica.org"
      >mathematica.org</a
    > on tech supporting their research, which in turn supports healthcare policy.
  </p>
  <p>
    i'm also getting a master's degree in <a
      href="https://www.colorado.edu/cmci/academics/media-studies/ma-media-and-public-engagement"
      >media and public engagement</a
    > at cu boulder, where i focus on participatory economics, cooperatives, and
    collective governance.
  </p>
  <p>
    i believe everyone should be able to keep the value they create, and
    participate in decisions that affect them.
  </p>
</div>
