---
import About from "./About.astro";
import Header from "./Header.astro"
import SectionHeaders from "./SectionHeaders.astro"
import SocialLinks from "./SocialLinks.astro";
---

<Header />
<SectionHeaders />
<div id="app" class="">
<About />
<SocialLinks />
</div>
