---
import Header from "./Header.astro";
import About from "./About.astro";
import SocialLinks from "./SocialLinks.astro";
---

<Header />
<div id="app" class="main">
  <About />
  <SocialLinks />
</div>
