---
const { post } = Astro.props;
const { title, description, slug } = post.data;
import "../styles/blog/card.css";
---

<li class="blog-card">
  <a href=`/writings/${slug}`>
    <h3>{title}</h3>
    <p class="description">{description}</p>
  </a>
</li>
