---
import "../styles/can-scroll-indicator.css";
---

<script src="../scripts/can-scroll-indicator.js"></script>
<div id="can-scroll-indicator">
  <div id="arrow-left"></div>
  <div id="arrow-right"></div>
</div>
