---
const isHome = Astro.url.pathname === "/";
const sectionChar = isHome ? "#" : "/#";
function linkTo(header: string) {
  return `${sectionChar}${header}`;
}
---

<header class="main-header">
  <div class="header-content">
    <div class="menu-button">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="header-title">Hi, I'm Drew!</div>
  </div>
  <div class="section-headers">
    <a href={linkTo("about")} class="about active">About</a>
    <a href={linkTo("writing")} class="writing">Writings</a>
    <a href={linkTo("links")} class="links">Connect</a>
  </div>
  <div class="backdrop"></div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.querySelector(".menu-button");
    const menu = document.querySelector(".section-headers");
    const backdrop = document.querySelector(".backdrop");
    const navLinks = document.querySelectorAll(".section-headers a");

    menuButton?.addEventListener("click", () => {
      menu?.classList.toggle("show");
      menuButton?.classList.toggle("active");
      backdrop?.classList.toggle("show");
    });

    function hideMenu() {
      menu?.classList.remove("show");
      menuButton?.classList.remove("active");
      backdrop?.classList.remove("show");
    }
    backdrop?.addEventListener("click", hideMenu);
    navLinks.forEach((link) => {
      link.addEventListener("click", hideMenu);
    });
  });
</script>
