---
import About from "./About.astro";
import SectionHeaders from "./SectionHeaders.astro";
import SocialLinks from "./SocialLinks.astro";
---

<div id="main">
  <SectionHeaders />
  <div id="app" class="">
    <About />
    <SocialLinks />
  </div>
</div>
