<p>Here are some of the projects I've worked on:</p>
<ul class="projects">
  <span class="year">2023</span>
  <p>
    <a href="/projects/msgpack-bal">msgpack-bal</a>, a msgpack library written
    in ballerina.
  </p>
  <p>
    <a href="/projects/trident">Trident Audio Tour</a>, a class project on a
    local bookstore and cafe.
  </p>
</ul>
