---
import SimpleIcon from "./SimpleIcon.astro";

const {data} = Astro.props;
---
<a 
  class='social-link' 
  href={data.url} 
  target="_blank" 
  rel='noopener noreferrer'
  >
  <SimpleIcon name={data.type} />
  <span class='social-text'>{data.text}</span>
</a>
