---
import SocialLink from "./SocialLink.astro";
import links from "../data/links.json";
---

<div id="links" class="social-links section">
  <h2>Contact</h2>
  <div class="links-container">
    {links.linkData.map((linkData) => <SocialLink data={linkData} />)}
  </div>
</div>
