---
import SocialLink from "./SocialLink.astro";
import links from "../data/links.json";
---

<div id="links" class="social-links snappable">
  {links.linkData.map((linkData) => <SocialLink data={linkData} />)}
</div>
