---
import SocialLink from "./SocialLink.astro";
import links from "../data/links.json";
---

<section id="links" class="social-links">
  <h2>Connect</h2>
  <div class="links-container">
    {links.linkData.map((linkData) => <SocialLink data={linkData} />)}
  </div>
</section>
