---
import { getCollection } from "astro:content";
import BlogCard from "./BlogCard.astro";

const posts = await getCollection("blog");
---

<section id="writing" class="writing">
  <h2>Writing</h2>
  <ul class="writing">
    {posts.map((post) => <BlogCard post={post} />)}
    <li class="blog-card">...and more coming soon!</li>
  </ul>
</section>
