<p>
  The workers at Trident form a tight-knit community. Working there can allow
  you to form close bonds with the people you spend your days with, those that
  you spend your evenings closing with, or those that show up early to open the
  store with you.
</p><p>
  I’ve often noticed employees spending their leisure time at Trident, doing
  homework and sipping cappuccinos the same as I am. Trident isn’t the type of
  work place that you rush out of after your shift. It’s one of Pearl street’s
  best examples of a third place, aside from your own home, and work or school;
  even for those where it also is where they work.
</p><p>
  There are regular costumers, folks that seem to always have already been there
  for hours whenever I show up. They and the workers know each other by name,
  laughing at inside jokes that I, even after spending multiple hours a week
  here can’t quite keep up with.
</p><p>
  Even though many of the names are still a mystery to me, the faces have become
  familiar, and their familiarity with each other breeds a welcoming community,
  a place to spend time, with even more comfort than my own apartment.
</p><p>
  But, your own home is your domicile, under your control. Even if you’re
  younger, you likely only share that space with another person or three. Now,
  imagine that dynamic expanded tenfold, with nearly two dozen perspectives,
  ideas, and opinions, and an exponentially greater number of relationships.
</p><p>
  The environment at Trident is cozy, its community tight-knit. But with great
  power comes great responsibility, and close bonds and distributed ownership
  are great powers.
</p>
