<p>
  Thank you for your attention, and I hope you’ve enjoyed this audio experience.
</p>
<p>
  I hope that you come away from it with an appreciation for the effort these
  people put in to run a business in a way that exemplifies Right Livelihood,
  and an appreciation for the work that still must be done to enable a shared
  and collective future, on Pearl street and beyond.
</p>
<p>
  Feel free to visit the full interviews, and a bonus audio tour that served as
  a pilot for this project in the sections that follow.
</p>
