<p>
  <em
    >The following audio is an abbreviated excerpt from <a href="/projects/trident/sections/6">an interview with Peter
    Jones, general manager of Trident</a>.</em
  >
</p>
<p>
  Let's see, uh, Trident opened in 1980. It opened originally as a bookstore and
  then a year later expanded and became a coffee shop as well. It was started by
  three gentlemen students of Chögyam Trungpa one of the first Tibetan Buddhist
  Rinpoches to come to the West and bring Tibetan Buddhism here. He also founded
  Naropa University, and Shambhala, and a bunch of other stuff.
</p><p>
  He told all his students or whatever that they couldn't just follow him around
  and do basic guru worship, that they had to still do something productive in
  the world and they called it at the time Right Livelihood.
</p>
<p>
  Which just meant, there's ways to do capitalism that are good and that don't
  put negative karma into the world. Gimian and Shotwell came on board as the
  first employees of Shambhala Publications, which started in the back here.
</p>
<p>
  So when this space became for lease, they thought it was a perfect place to
  open up a bookstore because they figured that was right livelihood, it's
  something good, you know, knowledge, intellectualism and conversation is
  always good. So anyways, that's the founding of Trident.
</p>
