<p>Welcome to my Trident Audio Experience.</p>

<p>
  It consists of five parts, where you’ll hear the story of Trident’s founding
  directly from its current general manager, Peter Jones as well as a recount of
  their transition to employee ownership.
</p>

<p>
  Drawing on that interview, as well as another with a former employee, I’ll
  then walk you through the experience of working at Trident Booksellers and
  Cafe.
</p>

<p>
  The ownership structure and transparency of their workplace offer an escape
  from typical capitalist subjugation, but simultaneously illuminate the
  shortcomings that can be found in any organizational model.
</p>

<p>
  Listen on for an insight into the delights, and challenges, of a collectively
  owned workplace.
</p>
