<p>
  Trident now has been running as employee owned for several years, its
  ownership circle expanded to over twenty individual employees. Peter manages
  the general business, while each side, the bookstore and the cafe, also have
  their own managers.
</p><p>
  Behind the building, they have a patio with a stage, where events are hosted
  frequently including comedy, poetry, and music from jazz to hip hop. They
  carry an eclectic range of teas, and will even give you a teapot to bring with
  you onto the patio.
</p><p>
  They also have an espresso machine and kombucha on tap - and for both of those
  things, the decision of who to buy them from was made by a vote among the
  ownership circle at their monthly meeting. Those who have bought into
  ownership meet monthly, voting on decisions from dividends and purchases, to
  whether or not to ban an unruly costumer.
</p><p>
  The employees communicate via Slack, where those with ownership are privy to a
  private channel, locked for owner-only discussion. Those not in the owners
  circle are not involved in those monthly meetings, though they can get some
  information of what was discussed after the fact. There have been various
  efforts to expand the autonomy that owners enjoy to the employees without
  ownership, but interest in those meetings died off.
</p><p>
  The distance between employees and ownership may be lower than what exists for
  other businesses, but the paywall is still there, creating an imbalance
  between the haves and have nots. Now, this is obviously also present in
  companies where ownership is more concentrated. But, the accessibility of
  ownership while it remains just out of reach makes that imbalance all the more
  visible.
</p>
