<p>
  <em
    >The following audio is a recount of events during the pandemic, leading to
    Trident's transition to employee ownership. It has been abbreviated from <a href="/projects/trident/sections/6"> the full interview with Peter</a></em
  >.
</p>
<p>
  So it's always been owned by a group. The group's changed over time. Mike
  Smith, the former manager. He was the first employee of Trident. And then he
  bought in when he became manager. And he was here until... 2014, maybe when he
  retired. And then there's been various other owners that's come and gone. So.
</p>
<p>
  <em>
    And what I read was that it was around the pandemic, that the ownership
    spread from two or three people out to, to more of the employees. Is that
    right?
  </em>
</p>
<p>
  So when Mike retired... I had the opportunity to come back and become general
  manager of the whole business.
</p>
<p>
  Doesn't mean I knew what I was doing. Had no expertise in management, no
  expertise in running a business, coffee shops, any of that stuff.
</p>
<p>
  I came back and took over 20, 2016 or 2017, something like that. And it was
  okay. The ownership circle at the time was, composed of three couples.
</p>
<p>
  During the pandemic, starting they weren't really stepping up to the plate in
  terms of being owners. And like, what are you gonna do about the business? Are
  we gonna close? Are we gonna stay open?
</p>
<p>
  What are you gonna do about your 20 some staff members? You know, how are you
  gonna handle their jobs? You know, all these things that they didn't really
  step into it and I got really in their face about it because I was like you
  gotta, you know, these, you guys are rich. This is these people's livelihoods,
  you know.
</p><p>
  So they finally stepped up and came on board as we were sort of like doing
  this soft opening thing in June, all this stuff, they sort of were jumping at
  it really fast, and I was asking them to go slower just because it was another
  big transition.
</p>
<p>
  We had, you know, there's all these things happen. So anyways, they fired me.
  And they tried to run the place for about two weeks and totally realized they
  had no idea what they were doing, didn't know anything about the business,
  didn't understand coffee, didn't understand books, didn't understand anything.
</p>
<p>
  So they called and asked if I would come back and I said, I would only come
  back if you make Trident employee-owned. So they thought about it for a while.
  And after a little bit of back and forth they agreed that, yeah, that they
  were willing to do that, you know. 
</p>
<p>
  They weren't going to have to sell everything.  They didn't have to like, 
  give up a voice or anything, right? So They basically agreed and they 
  decided to sell as many shares as staff members wanted to buy. 
  We came up with a plan of like, what's the value of the company, 
  how much is a share. We wrote up an operating agreement, purchase
  agreement, all those sort of things.
</p>
<p>
  So then in June of whatever that is, 2019,  
  twelve staff people bought shares and it became employee-owned at that point.
</p>
