---
import BlogPostLink from "./BlogPostLink.astro"
---

<div class="blog">
<h1>Papers</h1>
<ul class="postlist">
    <BlogPostLink post="inflationary_equity"></BlogPostLink>
    <BlogPostLink post="platforms_protocols_permissibility"></BlogPostLink>
</ul>
</div>