---
const {post} = Astro.props;
const url = `/blog/${post}`
const names: Record<string, string> = {
    "inflationary_equity": "Inflationary Equity",
    "platforms_protocols_permissibility": "Platforms, Protocols, and Permissibility"
}
if (!names.hasOwnProperty(post)) throw new Error("Invalid post id: " + post);
const name = names[post];
---
<li class="blog-post-link">
    <a href={url}>{name}</a>
</li>