main {
    font-size: 84%;
}

h1 {
    line-height: 1.1em;
}

h1,
h2,
h3,
h4,
p {
    margin-bottom: 0
}

p {
    text-align: justify;
    text-indent: 5%;
}

pre {
    text-align: center;
    background-color: var(--background-color) !important;
    color: var(--main-color) !important;
}

@media screen and (max-width: 768px) {
    main.content {
        padding-top: 10vh;
    }
}